<div>
	<h1><%= @song.title %></h1>
</div>


<div>
	<h3><%= @song.author.name %></h3>
	<h3><%= @song.album.title %></h3>
	<h3><%= @song.genre.name %></h3>
</div>

<div>
	<%= form_for(@user_song) do |f| %>
		<%= f.hidden_field :user_id, :value => @user.id %>
		<%= f.submit "Add song to my list", :class => "submit" %>
		<% end %> 
</div>
	

