<!DOCTYPE html>
<html>
  <head>
    <title>Garcia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <a class="navlink"> <%= link_to "Home", songs_path %></a>
      <a class="navlink"> <%= link_to "Login", login_path %></a>
      <a class="navlink"> <%= link_to "Logout", logout_path %></a>
    </div>
    <%= yield %>
  </body>
</html>
